.main img{
    width:500px;
    height:400px;
}
.main>div:first-child{
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    width:700px;
    position: absolute;
    right: 0;
    margin:25px 20px 0 0;
}
.description{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.description>textarea{
    border: 1px solid black;
    width:700px;
    height: 200px;
    padding:10px;
    font-size: large;
}
.main button{
    outline: none;
    width:700px;
    margin-right: 15px;
    float:right;
}